@import "../../styles/variables";

.current-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    background: #363636;
    padding: 1rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    margin-top: 176px;

    .lasts {
        background: $gradientPrimary;
        width: 60px;
        min-width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 32px;
        font-weight: 600;
    }

    .details {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        position: relative;
        margin-bottom: -30px;

        img {
            height: 300px;
            position: absolute;
            top: -305px;
            border-radius: 0.75rem;
            border-radius: 8px;
            z-index: 1;
            cursor: pointer;

            transition: all ease-in-out 0.4s;

            @media (max-height: 935px) {
                height: 250px;
                top: -255px;
            }

            @media (max-height: 885px) {
                height: 200px;
                top: -205px;
            }

            &:hover {
                height: 700px;

                @media (max-width: 885px) {
                    height: 400px;
                }
            }
        }
    }

    button {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 32px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster {
    width: 100px;
    height: 140px;
    background: #181818;
    border-radius: 0.75rem;
}
