@import '../../styles/variables';

.board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 140px); /* Creates 3 equal columns */
    grid-template-rows: repeat(4, 100px); /* Creates 3 equal rows */
    margin-top: 20px;
    background: #363636;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 10px 0;
    position: relative;
    z-index: 0;

    @media (max-width: 885px) or (max-height: 795px) {
        grid-template-columns: repeat(4, 120px); /* Creates 3 equal columns */
        grid-template-rows: repeat(4, 90px);
    }

    @media (max-width: 485px) {
        padding: 0;
        grid-template-columns: repeat(4, 92px); /* Creates 3 equal columns */
        grid-template-rows: repeat(4, 92px);
    }
}

.board-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Green background */
    color: white;
    font-size: 24px;
    border: 1px solid #5e5e5e; /* White border */
    border-radius: 0;
    padding: 10px;
    position: relative;

    background-color: #252525;

    &:not(:nth-child(odd):nth-child(-n + 4)):not(:nth-child(even):nth-child(n + 5):nth-child(-n + 8)):not(
            :nth-child(odd):nth-child(n + 9):nth-child(-n + 12)
        ):not(:nth-child(even):nth-child(n + 13):nth-child(-n + 16)) {
        background-color: #1b1b1b;

        h4 {
            background-color: #1b1b1b;
        }
    }

    h4 {
        font-size: 12px;
        font-weight: 100;
        position: absolute;
        color: #ffffffee;
        top: -9px;
        background: #252525;
        padding: 3px 6px;
        border-radius: 8px;
        border: 1px solid #5e5e5e;
        transition: border-color 0.25s;
    }
    p {
        font-weight: 200;
        font-size: 18px;
        margin-top: 0;
        color: white;
        font-weight: 400;
    }

    &.awards {
        h4 {
            border: 1px solid $secondary;
        }

        &:hover {
            border-color: $secondary;
        }
    }

    &.cast {
        h4 {
            border: 1px solid $primary;
        }

        &:hover {
            border-color: $primary;
        }
    }

    &.country {
        h4 {
            border: 1px solid $purple;
        }

        &:hover {
            border-color: $purple;
        }
    }

    &.directBy {
        h4 {
            border: 1px solid $green;
        }

        &:hover {
            border-color: $green;
        }
    }

    &.productionBy {
        h4 {
            border: 1px solid $orange;
        }

        &:hover {
            border-color: $orange;
        }
    }

    &.correct {
        background-color: #44864d !important;

        h4 {
            display: none;
        }
    }
    &.wrong {
        background-color: #642626;
    }

    @media (max-width: 885px) {
        padding: 5px;

        h4 {
            font-size: 12px;
        }
        p {
            font-size: 16px;
        }
    }

    @media (max-width: 485px) {
        padding: 5px;
        h4 {
            font-size: 12px;
        }
        p {
            font-size: 14px;
        }
    }
}
