.date {
    opacity: 0.8;
}

.logo {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40px;
    z-index: 2;

    @media (max-height: 745px) {
        display: none;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem 0;
        line-height: 50px;
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

        svg {
            height: 30px;
            width: 30px;
            margin-bottom: -7px;
            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
        }
    }

    .cursive {
        font-size: 43px;
    }

    .br {
        img,
        svg {
            width: 15px;
            height: 15px;
            opacity: 1;
            color: #ecc559;
            margin-bottom: -10px;
            transition: all ease-out 0.4s;
        }
    }
}
