@import './styles/variables';

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

h2,
h3,
h4,
p {
    margin: 0;
}

h4 {
    font-size: 18px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: 50px;
}

h2 {
    @media (max-width: 980px) {
        font-size: 1.25em;
    }

    @media (max-width: 885px) {
        font-size: 1em;
    }
}

p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
}

.cursive {
    font-family: Ephesis, sans-serif;
    font-size: 70px;
    padding: 0 3px;

    @media (max-width: 768px) {
        font-size: 60px;
    }
}

.over-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    margin-bottom: 2rem;
    cursor: default;

    &:hover {
        .br {
            svg {
                opacity: 1;
                color: #ecc559;
            }
        }
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem 0;
        line-height: 50px;

        svg {
            height: 40px;
            width: 40px;
            margin-bottom: -7px;
        }
    }

    .br {
        img,
        svg {
            width: 25px;
            height: 25px;
            opacity: 0.1;
            color: white;
            transition: all ease-out 0.4s;
        }
    }

    @media (max-width: 768px) {
        h1 {
            line-height: 40px;
            font-size: 2.5em;

            svg {
                height: 30px;
                width: 30px;
            }
        }

        .br {
            img,
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
