@import './styles/variables';

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

h2,
h3,
h4,
p {
    margin: 0;
}

h4 {
    font-size: 18px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: 50px;

    @media (max-width: 768px) {
        font-size: 2em;
    }
}

h2 {
    @media (max-width: 980px) {
        font-size: 1.25em;
    }

    @media (max-width: 885px) {
        font-size: 1em;
    }
}

p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.container {
    height: 100%;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        svg {
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }
}

.cursive {
    font-family: Ephesis, sans-serif;
    font-size: 70px;
    padding: 0 3px;
}

.over-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
