@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lexend:wght@200;300;400;500;600;700&display=swap');
@import './styles/variables';

:root {
    font-family: Lexend, sans-serif;
    line-height: 1.5;
    font-weight: 300;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(115deg, #111111, 10%, #111111, 30%, #141414, 60%, #0e0e0e, 85%, #000000);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: $primary;
    text-decoration: inherit;
}
a:hover {
    color: $primary;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:disabled {
    border: 0;
    cursor: default;
}
button:hover {
    border-color: $primary;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: $primary;
    }
    button {
        background-color: #f9f9f9;
    }
}
